<section>
    <md-subheader class="md-no-sticky section-subheader border-bottom-thin" md-theme="subheader-blue-grey">
        <div layout="row" layout-xs="column">
            <div flex="80" layout="column" layout-align="center start">
                <h2 style="font-size: 3em; font-weight: 300;">
                    Hello World
                </h2>
            </div>
            <div flex layout="column" layout-align="center end">
              <md-button class="md-raised md-primary" ui-sref="botfactory" ng-click="getData();">Click Me To Get Data</md-button>
            </div>
        </div>
    </md-subheader>
</section>




<md-card layout="row" layout-wrap layout-align="center start" layout-xs="column" style="margin: 32px 16px">
    <div layout="column" class="white" flex>
<table md-table style="padding-bottom: 25px">
<tbody md-body>
    <thead md-head md-order="ctrl.query.order">
    <tr md-row>
        <th md-column md-order-by="name">From</th>
        <th md-column md-order-by="description">Name</th>
    </tr>
    </thead>
    <tr md-row  ng-repeat="row in data"  ng-class="{'even-row': $even}" style="cursor: pointer;">
        <td md-cell>
            {{ row.From }}
        </td>
        <td md-cell>
            {{ row.Name }}
        </td>
                               <td md-cell>
                            <button class="md-icon-button md-button md-ink-ripple" type="button">
                                <div class="md-ripple-container"></div>
                            </button>
                        </td>
    </tr>
</tbody>
</table>
        </div>
    </md-card>

