<section class="fixed-banner">
    <md-subheader class="md-no-sticky section-subheader border-bottom-thin">
        <div layout="row" layout-xs="column">
            <div flex="100" layout="column" layout-align="center start">
                <h3>
                    Say Hello with the best of them
                </h3>
            </div>
        </div>
    </md-subheader>
    <md-subheader class="md-no-sticky section-subheader border-bottom-thin">
        <md-button ng-class="{'md-primary': tab == ctrl.activeTab}"
                   ng-repeat="tab in ctrl.tabs"
                   ng-click="ctrl.gotoTab(tab)"
                   style="font-size: 11px; font-weight: 600;">
            <md-icon>{{tab.icon}}</md-icon>
            {{tab.label}}
        </md-button>
    </md-subheader>
</section>
<div ui-view="container"></div>
